/************* id selectors ***************/

#title {
  background-color: #ff4c68;
}

#features {
  padding: 160px 130px 160px 130px;
  text-align: center;
  background-color: #fff;
  position: relative;
}


/************* tag selectors ***************/

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
color: white;
font-weight: 900;
font-size: 3.2rem;
line-height: 1.5;
}

h2 {
  font-weight: 800;
  line-height: 1.5;
  font-size: 2.7rem;

}

h3 {
  letter-spacing: -.1rem;
  font-weight: 700;
}

p {
  color: #A9A9A9;
  font-weight: bold;
}
/************* class selectors ***************/

.container-fluid{
padding: 3% 15% 7%;

}

/* navigation bar */

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}

.navbar {
padding: 0 0 4.5rem;

}

.nav-item {
padding: 0 18px;
}

.nav-link{
  font-family: "Montserrat";
  font-size: 1.2rem;
}


/* download-bottons */

.download-botton{
  margin: 5% 3% 5% 0;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;

}

/* Features section */

/* icons */

.button-check {
  font-size: 4rem;
  margin-bottom: 10px;
  color: #ff6961;

}

.button-check:hover {
  color: red;
}

.bullseye {
  font-size: 4rem;
  margin-bottom: 10px;
  color: #ff6961;
}

.bullseye:hover {
  color: red;
}

.heart-icon {
  font-size: 4rem;
  margin-bottom: 10px;
  color: #ff6961;
}
.heart-icon:hover {
  color: red;
}


.div-button-check {
  padding: 0 50px;
  margin-bottom: 100px;
}

.div-bullseye {
  padding: 0 50px;
  margin-bottom: 100px;
}

.div-heart {
  padding: 0 50px;
}

/* testimonials section */

#testimonials{
  background-color: #ef8172;
  text-align: center;
  color: #fff;

}

.carousel-item{
  padding: 7% 13%;
}


.testimonial-image{
  width: 9%;
  border-radius: 100%;
  margin-right: 1%;
}

/* press */
#press {
  background-color: #ef8172;
  padding: 3% 3% 5% 3%;
  text-align: center;
}

.press-images{
  width: 15%;
  margin: 0 1% 3% 1%;
}

/* Pricing Section */

#pricing{
text-align: center;
padding: 100px;
}

.colums-card{
  padding: 3% 2%;
}

/* cta */

#cta {
background-color: #ff4c68;
text-align: center;
color: #fff;
padding: 7% 10% 10%;
}

.btn-cta {
  margin: 3% 1% 2%;
}

.h3-cta {
  font-size: 3rem;
  padding: 0 12%;
}

#footer {
  background-color: #fff;
  text-align: center;
  margin: 7% 7% 7%;
}

.icons-footer{
  margin-left: 1%;
  margin-bottom: 2%;
}


@media (max-width: 1000px) {

  .title-image {
  position: static;
  transform: rotate(0);


  }

#title {
  text-align: center;
}

}
